.body{
    margin: 0px;
}

.row{
    height: 500px;

}

.headhome{
    background-image: url(M5.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.navc{
    position: absolute;
    width: auto;
}

.topnav{
    background-color: #99ccff73;
    overflow: hidden;
    margin-top: 190px;
}

.topnav a{
    text-align: right;
    padding: 20px 50px;
    text-decoration: none;
    float: right;
    color: white;
    font-size: 15px;
    width: 100px;
}

.topnav a:hover{
    background-color: #0080ff87;
    color: black;

}

.M1:hover{
    background-image: url(M1.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.M2:hover{
    background-image: url(M2.png);
    background-repeat: no-repeat;
    background-position: left center;

}

.topnav a.active{
    background: #0080ff;
    color: whitesmoke;
}


//جزء الصور 

.MD{
     background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.Makkah{
    margin: 0px;
    overflow: initial; 
    background-repeat: no-repeat;
    position: relative;
    height: 450px;
    width: auto;
    border-radius: 0px 0px 0px 20px;
}


.Madina{
    margin: 0px;
    overflow:  hidden; 
    background-repeat: no-repeat;
    position: absolute;
    height: 450px;
    width: auto;
    border-radius: 0px 0px 20px 0px;

}




