.body{
    margin: 0px;
    background-color: rgb(233, 233, 233);
}

.row{
    height: 500px;
}

.headhome{
    background-image: url(M5.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    border-bottom: solid 10px  rgb(233, 233, 233);
    ;

}

.navc{
    position: absolute;
    width: auto;
}

.topnav{
    background-color: #99ccff73;
    overflow: hidden;
    margin-top: 190px;
}

.topnav a{
    text-align: right;
    padding: 20px 50px;
    text-decoration: none;
    float: right;
    color: white;
    font-size: 15px;
    width: 100px;
}

.topnav a:hover{
    background-color: #0080ff87;
    color: black;

}

.M1:hover{
    background-image: url(M1.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.M2:hover{
    background-image: url(M2.png);
    background-repeat: no-repeat;
    background-position: left center;

}

.topnav a.active{
    background: #0080ff;
    color: whitesmoke;
}


//جزء الصور 

.MD{
     background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.Makkah{
    margin: 0px;
    overflow: inherit; 
    background-repeat: no-repeat;
    position: static;
    z-index: 0%;
    height: 450px;
     border-radius: 0px 0px 0px 20px;
 }


.Madina{
    margin-left: 1px;
    overflow:  inherit; 
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0%;
    height: 450px;
     border-radius: 0px 0px 20px 0px;
    left: 29%; 
    top: 0;
}

.container {
    position: relative;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: auto;
    height: auto;
  }

.ma1{
    position: absolute;
    top: 91%;
    left: 96%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 129, 0.589);
    border: solid gray 2px;
    border-radius: 0px 0px 0px 10px;
    width: 100px;
    height: 35px;
    text-align: left;
    padding: 10px 0px 0px 10px;
    font-size: 22px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
     
}

.ma2{
    position: absolute;
    top: 9%;
    left: 56px;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 129, 0.43);
    border: solid #808080ab 2px;
    border-radius: 0px 0px 10px 0px;
    width: 100px;
    height: 35px;
    text-align: right;
    padding: 10px 10px 0px 0px;
    font-size: 22px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.d1:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
.d1:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
.d1:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
.d1:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }
 

.d2:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
.d2:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
.d2:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
.d2:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
  }




.footer {
    position: static;
    width: 100%;
    left: 0;
    background-color: rgb(233, 233, 233);
    color: white;
    text-align: center;
    height: auto;
    margin-top: -4px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
 }